 /* for user profile*/

 .profile{
    box-sizing: border-box;
    display: inline;
    justify-content: center;
    align-items: center;     
    height: 100px;
    width: 100px;
    
    
}
h2{
    text-align: center;
    
  }
.profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 0 auto 20px;
  }
  
  .name {
    font-size: 24px;
    margin: 0 0 10px;
  }
  
  .description {
    font-size: 16px;
    color: #666;
    margin: 0 0 30px;
  }
  
  .social-links {
    display: flex;
    margin-bottom: 20px;
    padding: 50px;
  }
  
  span ,a{
    padding: 0% 5%;
    text-decoration-line: none;
  }
  .social-link {
    display: inline;
    width: 40px;
    height: 40px;
    border-radius: 50px;
    text-align: center;
    line-height: 40px;
    color: #666;
  }

  
  .sign_out {
    display: block;
    width: 100%;
    background-color: #5c3d8e;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 0;
    font-size: 16px;
    cursor: pointer;
  }
  
  



@media screen and (max-width: 767px) {
    .profile{
       width: 100%;
     }
   }