
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wdth,wght@0,75..100,300..800;1,75..100,300..800&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, sans-serif;
    padding:0px 5px ;
}

.container{
    width:100%;
    height:auto;
    display:flex;
    flex-direction:column;
    justify-content:center;
}

#header {
    box-sizing: border-box;
    font-size: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5px;
    border-bottom:solid 1px rgb(98, 94, 94) ;

}
#small-logo{
    border: none;
    border-radius: 10dvh;
    
}
.nav{
    display: flex;
    justify-content: left;
    border-bottom:solid 1px rgb(98, 94, 94) ;

}
 a {
    font-size: 20px;
    margin: 5px 10px;
    display: flex;
    justify-content: left;    
    text-decoration-line: none;
    color: #000;
    background-attachment: scroll;
}

a:hover{
    border-bottom: solid 3px #332f2f;
    border-radius: 5px;
}

.target_area{

    background-color: rgb(248, 96, 96);
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    
}


#gdsc-leads-application_856{
    border: 1px solid rgb(95, 93, 93);
    border-radius: 5px;
    position: absolute;
    height: 20rem;
    width: 45rem;
    top: 12em;
    left: 38em;
    
}

.target_area h1{
    color: #4285F4
}
.mainbody{
    margin-top:30px ;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: space-around;
    padding: 10px;
    z-index: 2;
}
.mainlockup{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 10px;
    padding: 10px;
    z-index: 2;
}

#front{
    display: flex;
    flex-direction: column;
    justify-content: center;

    transition: 2s;
    width: 30%;
    height: 100px;
    box-sizing: border-box;
    overflow-clip-margin: content-box;
    overflow: clip;

}
.buttonjoin{
    padding: 1px 10px;
    font-size: 1px;
    --hover-color: #39bda7;
    cursor: pointer;
    margin:1px 0px;
    background-color: #4285F4;
    border: 1px solid transparent;
    border-radius: 5px;
    display: inline-block;
    position: relative;
    transition: background-color 0.3s, color 0.3s;
    z-index: 1;
    


}
footer{
    position: fixed;
    bottom: 10px;
    width: 100%;    
    background-color: #f8f8f8;  
}
